Repository OpenConext/OpenConext-engineblock, pull requests merged in 2020-12, with the labels that each got.

#996 Fix bugs in the CI
  app/config/parameters.yml.dist
  docker/php-fpm/Dockerfile-php72
  docker/php-fpm/Dockerfile-php74
  docker/php-fpm/app.ini
Labels: bug, ui-redesign

#984 Modal related consent changes
  theme/base/stylesheets/classes.scss
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/integration/skeune/consent/consent.mouse.spec.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: consent, ui-redesign

#986 Fix vertical alignment of the first four attribute values
  theme/base/stylesheets/pages/consent.scss
Labels: consent, ui-redesign

#987 Change styling of the modal label in the idp row
  theme/base/stylesheets/pages/consent.scss
Labels: consent, ui-redesign

#988 Adjust tooltip icons (colour & SR text)
  theme/base/stylesheets/mixins.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/skeune/templates/modules/Default/Partials/label.html.twig
Labels: consent, ui-redesign

#991 Add option for shared integration tests
  .github/workflows/test-integration.yml
  theme/cypress/integration/shared/consent.a11y.spec.js
  theme/cypress/integration/shared/wayf.a11y.spec.js
  theme/package.json
Labels: ui-redesign

#982 Add nok section
  theme/base/javascripts/consent.js
  theme/base/javascripts/consent/addBackListener.js
  theme/base/javascripts/consent/addNokListener.js
  theme/base/javascripts/consent/switchConsentSection.js
  theme/base/stylesheets/pages/consent.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/consentContent.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/nokSection.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/integration/skeune/consent/consent.mouse.spec.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: consent, ui-redesign

#993 Improve comments for theme development
  theme/README.md
Labels: ui-redesign

#985 Add styling for group memberships
  theme/base/javascripts/consent/addA11ySupport.js
  theme/base/stylesheets/pages/consent.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/list.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/toggle.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/toggleCheckbox.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/toggleLabel.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/integration/skeune/consent/consent.mouse.spec.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: consent, ui-redesign

#989 Extract html tags from translations
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/source.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Modals/reject.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noScript.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: consent, ui-redesign

#990 Extract skeune-specific mixins
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/skeune/stylesheets/helpers.scss
  theme/skeune/stylesheets/mixins-skeune.scss
Labels: consent, ui-redesign

#998 Separate translations / theme
  languages/messages.en.php
  languages/messages.nl.php
  languages/messages.pt.php
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Modals/reject.html.twig
  theme/openconext/translations/messages.en.php
  theme/openconext/translations/messages.nl.php
  theme/openconext/translations/messages.pt.php
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign

#999 Localize the sort
  theme/base/javascripts/wayf/utility/sortIdpMethods.js
Labels: ui-redesign

#997 Resolve feedback Edwin for Consent screen
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/engineBlockAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/source.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/toggleCheckbox.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/idpRow.html.twig
  theme/skeune/stylesheets/application.scss
  theme/skeune/stylesheets/mixins-skeune.scss
Labels: consent, ui-redesign

#1000 Extract css into components
  theme/README.md
  theme/base/stylesheets/application.scss
  theme/base/stylesheets/classes.scss
  theme/base/stylesheets/components.scss
  theme/base/stylesheets/components/noscript.scss
  theme/base/stylesheets/components/success.scss
  theme/base/stylesheets/components/warning.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/pages/consent/attribute.scss
  theme/base/stylesheets/pages/consent/attributeName.scss
  theme/base/stylesheets/pages/consent/attributeValue.scss
  theme/base/stylesheets/pages/consent/attributes.scss
  theme/base/stylesheets/pages/consent/body.scss
  theme/base/stylesheets/pages/consent/ctas.scss
  theme/base/stylesheets/pages/consent/disclaimer.scss
  theme/base/stylesheets/pages/consent/idpRow.scss
  theme/base/stylesheets/pages/consent/nok.scss
  theme/base/stylesheets/pages/consent/openToggle.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/stylesheets/pages/wayf/backLink.scss
  theme/base/stylesheets/pages/wayf/content.scss
  theme/base/stylesheets/pages/wayf/idpList.scss
  theme/base/stylesheets/pages/wayf/noAccess.scss
  theme/base/stylesheets/pages/wayf/noResults.scss
  theme/base/stylesheets/pages/wayf/previousSelection.scss
  theme/base/stylesheets/pages/wayf/remainingIdps.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/engineBlockAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noScript.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
  theme/base/templates/modules/Default/Partials/warning.html.twig
  theme/cypress/functions/terminalLog.js
  theme/cypress/integration/shared/consent.a11y.spec.js
  theme/cypress/integration/shared/wayf.a11y.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/plugins/index.js
  theme/skeune/stylesheets/application.scss
  theme/skeune/stylesheets/mixins-skeune.scss
Labels: ui-redesign

#1009 Add two missing templates
  theme/base/templates/modules/Authentication/View/Proxy/debug-idp-mail.txt.twig
  theme/base/templates/modules/Authentication/View/Proxy/debug-idp-response.html.twig
Labels: bug, ui-redesign

#1006 Fix Safari bug where hidden elements have height
  theme/base/stylesheets/pages/wayf/idpList.scss
  theme/base/stylesheets/pages/wayf/previousSelection.scss
  theme/base/stylesheets/pages/wayf/remainingIdps.scss
Labels: bug, ui-redesign, wayf

#1007 Remove magic numbers for max-height
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent/attributeValue.scss
  theme/base/stylesheets/pages/consent/attributes.scss
  theme/base/stylesheets/pages/consent/disclaimer.scss
  theme/base/stylesheets/pages/consent/idpRow.scss
  theme/base/stylesheets/pages/consent/openToggle.scss
  theme/base/stylesheets/pages/wayf/previousSelection.scss
  theme/base/stylesheets/shared.scss
Labels: bug, consent, ui-redesign

#1018 Ensure content of idprow is aligned correctly on Safari & accross source-type
  theme/base/stylesheets/pages/consent/idpRow.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/idpRow.html.twig
Labels: bug, consent, ui-redesign

#1016 Use organizationName in consent h2 title
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/consentContent.html.twig
Labels: bug, consent, ui-redesign

#1015 Hide spinner & associated text on nojs for form
  theme/base/stylesheets/classes.scss
  theme/base/templates/modules/Authentication/View/Proxy/form.html.twig
Labels: bug, ui-redesign

#1014 Mention not being able to search in wayf nojs text
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, ui-redesign, wayf

#1012 Ensure the id of a tooltip is unique
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/engineBlockAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/attributes.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/integration/skeune/consent/consent.mouse.spec.js
Labels: bug, consent, ui-redesign

#1011 Adjust text for security disclaimer
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, consent, ui-redesign

#1010 Use same text for minimal consent as for normal consent
  languages/messages.en.php
  languages/messages.nl.php
  languages/messages.pt.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Consent.feature
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, consent, ui-redesign

#1017 Differentiate noAccess form when unconnectable
  theme/base/javascripts/wayf/deleteDisable/setConnectability.js
  theme/base/javascripts/wayf/handleClickingDisabledIdp.js
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToRequestButton.js
  theme/base/stylesheets/pages/wayf/noAccess.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/helpdesk.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/noAccess.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, ui-redesign, wayf

#1002 Test index & error pages
  theme/base/stylesheets/error-page/base/_background.sass
  theme/base/stylesheets/error-page/base/_page.css.sass
  theme/base/stylesheets/error-page/components/_language.css.sass
  theme/base/stylesheets/error-page/modules/_error-title.sass
  theme/base/stylesheets/error-page/modules/_feedback-info.sass
  theme/base/stylesheets/error-page/modules/_footer.sass
  theme/base/stylesheets/error-page/modules/_horizontal-rule.sass
  theme/base/stylesheets/front-page/base/_page.sass
  theme/base/stylesheets/front-page/modules/_container.sass
  theme/base/stylesheets/front-page/modules/_footer.sass
  theme/base/stylesheets/front-page/modules/_header.sass
  theme/base/stylesheets/pages/front-page.sass
  theme/base/templates/modules/Authentication/View/Index/index.html.twig
  theme/base/templates/modules/Default/View/Error/error.html.twig
  theme/base/templates/modules/Default/View/Error/method-not-allowed.html.twig
  theme/base/templates/modules/Default/View/Error/not-found.html.twig
  theme/cypress/integration/shared/error.a11y.spec.js
  theme/cypress/integration/shared/index.a11y.spec.js
  theme/cypress/integration/skeune/error/error.general.spec.js
  theme/cypress/integration/skeune/index/index.general.spec.js
  theme/openconext/stylesheets/application/modules/_consent.css.sass
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign

#1020 Bump ini from 1.3.5 to 1.3.7 in /theme
  theme/package-lock.json
Labels: bug, dependencies, security

#1024 Fix Safari repaint bug
  theme/base/stylesheets/pages/wayf/idpList.scss
Labels: bug, ui-redesign, wayf

#1023 Sort previously selected idps by count
  src/OpenConext/EngineBlockBundle/Twig/Extensions/Extension/ConnectedIdps.php
  theme/base/javascripts/wayf/utility/sortAndReindex.js
  theme/base/javascripts/wayf/utility/sortIdpList.js
  theme/base/javascripts/wayf/utility/sortIdpMethods.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
Labels: ui-redesign, wayf

#1022 Use english name as backup of locale-specific name
  src/OpenConext/EngineBlock/Metadata/Entity/ServiceProvider.php
Labels: consent, ui-redesign

#1021 Add a bit of margin to the bottom of the consent screen
  theme/base/stylesheets/pages/consent.scss
Labels: consent, ui-redesign

#1025 Ensure noaccess request still validates
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToForm.js
  theme/base/javascripts/wayf/noAccess/scrollToTop.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/ctas.html.twig
Labels: bug, ui-redesign, wayf

#1026 Ensure everything works in IE, both functionally and styling-wise
  theme/.babelrc
  theme/base/javascripts/addPolyfills.js
  theme/base/javascripts/page.js
  theme/base/javascripts/utility/replaceClass.js
  theme/base/javascripts/wayf/deleteDisable/setConnectability.js
  theme/base/javascripts/wayf/noAccess/validation.js
  theme/base/javascripts/wayf/search/removeWeight.js
  theme/base/stylesheets/components/idpRow.scss
  theme/base/stylesheets/components/openToggle.scss
  theme/base/stylesheets/pages/consent/attribute.scss
  theme/base/stylesheets/pages/consent/ctas.scss
  theme/base/stylesheets/pages/consent/idpRow.scss
  theme/base/stylesheets/pages/consent/openToggle.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
  theme/cypress/integration/skeune/consent/consent.keyboard.spec.js
  theme/cypress/integration/skeune/consent/consent.mouse.spec.js
  theme/skeune/stylesheets/mixins-skeune.scss
Labels: consent, ui-redesign, wayf

#1027 Use openconext_support_url for the footer helpLink
  theme/base/templates/modules/Default/Partials/footer.html.twig
Labels: bug, ui-redesign, wayf

#1028 Resolve smaller a11y bugs
  theme/base/stylesheets/pages/wayf/idpList.scss
  theme/base/stylesheets/pages/wayf/previousSelection.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
  theme/cypress/support/commands.js
Labels: bug, ui-redesign, wayf

#1030 Ensure informational is big enough for icon
  theme/base/stylesheets/pages/wayf/remainingIdps.scss
Labels: bug, ui-redesign, wayf

#1031 Align idpRow label to the left on mobile
  theme/base/stylesheets/pages/consent/idpRow.scss
Labels: bug, consent, ui-redesign

#1029 Ensure links don't overflow on mobile
  theme/base/stylesheets/front-page/base/_page.sass
Labels: bug, ui-redesign

#1032 Implement optimizations found in lighthouse/webhint audits
  theme/base/templates/layouts/scripts/default.html.twig
  theme/base/templates/modules/Authentication/View/Index/index.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Modals/uniqueNumberExplanation.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/idpRow.html.twig
  theme/base/templates/modules/Default/Partials/footer.html.twig
  theme/base/templates/modules/Default/View/Error/partial/footer.html.twig
  theme/postcss.config.js
Labels: ui-redesign, wip

#1033 Increase room for tooltipless attribute values
  theme/base/stylesheets/pages/consent/attribute.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/engineBlockAttribute.html.twig
Labels: bug, consent, ui-redesign

#1035 Fix the regression of the error pages in material
  theme/openconext/templates/modules/Default/View/Error/error.html.twig
  theme/openconext/templates/modules/Default/View/Error/method-not-allowed.html.twig
  theme/openconext/templates/modules/Default/View/Error/not-found.html.twig
Labels: ui-redesign

#1037 Fix various smaller styling feedback issues
  theme/base/stylesheets/pages/consent/idpRow.scss
  theme/base/stylesheets/shared.scss
Labels: bug, consent, ui-redesign

#1038 Sort unconnected idps after connected idps on load
  src/OpenConext/EngineBlockFunctionalTestingBundle/Controllers/WayfController.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Helper/TestEntitySeeder.php
  theme/README.md
  theme/base/javascripts/utility/hideElement.js
  theme/base/javascripts/utility/showElement.js
  theme/base/javascripts/wayf/idpFocus/arrowDown.js
  theme/base/javascripts/wayf/idpFocus/arrowUp.js
  theme/base/javascripts/wayf/idpFocus/focusOnNextIdp.js
  theme/base/javascripts/wayf/idpFocus/focusOnPreviousIdp.js
  theme/base/javascripts/wayf/keyboardBehaviour.js
  theme/base/javascripts/wayf/search/toggleSearchAndResetButton.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig
  theme/cypress/integration/skeune/wayf/wayf.general.spec.js
Labels: bug, ui-redesign, wayf

#1039 Restore redirect page for openConext theme
  theme/openconext/stylesheets/application/modules/_redirect.css.sass
  theme/openconext/templates/modules/Authentication/View/Proxy/form.html.twig
Labels: bug, ui-redesign

#1040 Hide label in idprow when unchecked
  theme/base/stylesheets/pages/consent/idpRow.scss
Labels: bug, consent, ui-redesign

#1036 Refine texts where necessary
  languages/messages.en.php
  languages/messages.nl.php
  languages/messages.pt.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Consent.feature
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/consentContent.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: consent, ui-redesign, wayf

#1034 Allow html in the warning text
  theme/base/templates/modules/Default/Partials/warning.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, consent, ui-redesign

#1041 Remove stray space from consent screen disclaimer
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
Labels: bug, consent, ui-redesign

#1045 Run the Behat acceptance tests against the skeune theme
  .github/workflows/test-integration.yml
  app/config/config_test.yml
  app/config/functional_testing.yml.dist
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Consent.feature
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Context/EngineBlockContext.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Debug.feature
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/SpProxy.feature
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/list.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Default/Partials/button.html.twig
  theme/scripts/build.js
Labels: ui-redesign, wip

#1042 Change algorithm for SP displayname & refactor algorithm for organization name
  src/OpenConext/EngineBlock/Metadata/Entity/ServiceProvider.php
  tests/unit/OpenConext/EngineBlock/Metadata/Entity/ServiceProviderTest.php
Labels: bug, consent, ui-redesign, wayf

#1046 Ensure build installs npm
  theme/scripts/build.js
Labels: bug, ui-redesign
