Repository OpenConext/OpenConext-engineblock, pull requests merged in 2020-11, with the labels that each got.

#958 Change default isMinimalConsent behavior
  src/OpenConext/EngineBlock/Metadata/ConsentSettings.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Features/Consent.feature
  tests/unit/OpenConext/EngineBlock/Metadata/ConsentSettingsTest.php
  theme/cypress/integration/skeune/consent/consent.skeune.spec.js
Labels: consent, ui-redesign

#956 Center items in the wayf vertically
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
Labels: bug, ui-redesign, wayf

#959 Show and hide default IdP when searching
  theme/base/javascripts/wayf/search/toggleDefaultIdPLinkVisibility.js
  theme/base/javascripts/wayf/searchBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign, wayf

#960 Select and Submit topmost IdP on enter
  src/OpenConext/EngineBlockFunctionalTestingBundle/Controllers/WayfController.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Resources/config/routing.yml
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/selectFirstIdPAndSubmitForm.js
  theme/base/javascripts/wayf/submitForm.js
  theme/cypress/integration/openconext/wayf/WayfMouseBehaviour.spec.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
Labels: ui-redesign, wayf

#961 Add search field reset button
  theme/base/javascripts/wayf/search/toggleSearchAndResetButton.js
  theme/base/javascripts/wayf/searchBehaviour.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/SVG/close.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/SVG/delete.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/search.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign, wayf

#962 Repair the previously selected feature in test
  src/OpenConext/EngineBlockBundle/Twig/Extensions/Extension/Wayf.php
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  web/app.php
Labels: ui-redesign, wayf

#965 Upgrade Cypress and plugins to latest versions
  theme/package-lock.json
  theme/package.json
Labels: ui-redesign

#967 Use Composer 1 while not Composer 2 compatible
  docker/php-fpm/Dockerfile-php72
  docker/php-fpm/Dockerfile-php74
Labels: 6.3, maintenance

#968 Center the connecting to the service spinner
  theme/base/stylesheets/pages/form.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Shared/spinner.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/loadingSpinner.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/form.html.twig
Labels: ui-redesign

#963 Increase whitespace between consent title and text
  theme/base/stylesheets/pages/consent.scss
Labels: consent, ui-redesign

#969 Leave the previously selected IdPs in the 'select another IdP' list
  src/OpenConext/EngineBlockBundle/Twig/Extensions/Extension/Wayf.php
Labels: ui-redesign, wayf

#964 Set other consent icons at privacy and sec section
  theme/base/stylesheets/pages/consent.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/SVG/file_info.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/SVG/shield_key.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/cypress/integration/openconext/wayf/WayfMouseBehaviour.spec.js
Labels: consent, ui-redesign

#973 Show search icon on page load
  theme/base/javascripts/wayf/search/toggleSearchAndResetButton.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/search.html.twig
Labels: ui-redesign, wayf

#974 Only show default IdP when available
  library/EngineBlock/Application/DiContainer.php
  library/EngineBlock/Corto/Module/Service/SingleSignOn.php
Labels: ui-redesign, wayf

#976 Address smaller WAYF issues
  theme/base/javascripts/wayf/search/toggleSearchAndResetButton.js
  theme/base/javascripts/wayf/searchBehaviour.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
  theme/cypress/integration/skeune/wayf/wayf.general.spec.js
  theme/skeune/translations/messages.nl.php
Labels: ui-redesign, wayf

#972 Align IdP titles between connected and disconnected variaties
  theme/base/stylesheets/pages/wayf.scss
Labels: ui-redesign, wayf

#977 Only show default idp when connected
  library/EngineBlock/Corto/Module/Service/SingleSignOn.php
  src/OpenConext/EngineBlockBundle/Twig/Extensions/Extension/ConnectedIdps.php
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign, wayf

#975 Validate required fields
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToForm.js
  theme/base/javascripts/wayf/noAccess/validation.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/IdentityProvider/request-access.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/requestForm.html.twig
  theme/cypress/integration/skeune/wayf/wayf.keyboard.spec.js
  theme/cypress/support/commands.js
Labels: ui-redesign, wayf

#978 Do not show delete button on the noAccess screen
  theme/base/stylesheets/pages/wayf.scss
Labels: ui-redesign, wayf

#981 Isolate current consent content
  theme/base/stylesheets/pages/consent.scss
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
Labels: consent, wayf

#979 Ensure logo height never grows too big
  theme/base/stylesheets/pages/wayf.scss
Labels: ui-redesign, wayf

#980 Use organization name for SP in disclaimer text
  languages/messages.en.php
  languages/messages.nl.php
  languages/messages.pt.php
  src/OpenConext/EngineBlock/Metadata/Entity/ServiceProvider.php
  tests/unit/OpenConext/EngineBlock/Metadata/Factory/AbstractEntityTest.php
  tests/unit/OpenConext/EngineBlock/Metadata/Factory/Adapter/ServiceProviderEntityTest.php
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
Labels: consent, ui-redesign

#983 Consent tooltip changes
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/SVG/information-circle.svg
Labels: consent, ui-redesign
