Repository OpenConext/OpenConext-engineblock, pull requests merged in 2020-10, with the labels that each got.

#911 Style rememberchoice form
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/rememberChoice.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/wayf_content.html.twig
Labels: ui-redesign

#922 Remove the remaining eduGAIN metadafields
  database/DoctrineMigrations/Version20191011132428.php
  database/DoctrineMigrations/Version20201005161700.php
Labels: 6.3.6

#923 Prevent undefined access in Assembler
  src/OpenConext/EngineBlock/Metadata/Entity/Assembler/PushMetadataAssembler.php
Labels: 6.3.6

#925 Add and refactor integration tests for the WAYF
  theme/base/javascripts/wayf/hideIdpsOnLoad.js
  theme/base/javascripts/wayf/mouseBehaviour.js
  theme/base/javascripts/wayf/showRemaining.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/search.html.twig
  theme/cypress/integration/skeune/consent/consent.skeune.spec.js
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/cypress/support/commands.js
Labels: ui-redesign, wayf

#930 Refactor cypress tests for legibility
  theme/cypress/integration/skeune/consent/consent.skeune.spec.js
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign

#931 Fix sequence / schema violation
  theme/material/templates/modules/Authentication/View/Metadata/partial/organization.xml.twig
Labels: 6.3

#932 Refactor previous selection for speed
  theme/base/javascripts/wayf.js
  theme/base/javascripts/wayf/deleteDisable/reindexAndFocus.js
  theme/base/javascripts/wayf/handleDeleteDisable.js
  theme/base/javascripts/wayf/handlePreviousSelectionVisible.js
  theme/base/javascripts/wayf/toggleRemaining.js
  theme/base/javascripts/wayf/utility/sortAndReindex.js
  theme/base/javascripts/wayf/utility/sortIdpList.js
  theme/base/javascripts/wayf/utility/sortIdpMethods.js
  theme/base/javascripts/wayf/utility/sortListMethods.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
Labels: ui-redesign, wayf

#933 Implement search functionality
  theme/base/javascripts/modules/IdpList.js
  theme/base/javascripts/modules/IdpPicker.js
  theme/base/javascripts/modules/PreviousSelectionList.js
  theme/base/javascripts/utility/getData.js
  theme/base/javascripts/utility/hideElement.js
  theme/base/javascripts/utility/nodeListToArray.js
  theme/base/javascripts/utility/showElement.js
  theme/base/javascripts/wayf.js
  theme/base/javascripts/wayf/filterIdpsByValue.js
  theme/base/javascripts/wayf/handleDeleteDisable.js
  theme/base/javascripts/wayf/search/assignWeight.js
  theme/base/javascripts/wayf/search/checkFullMatch.js
  theme/base/javascripts/wayf/search/checkPartialMatch.js
  theme/base/javascripts/wayf/search/clearWeight.js
  theme/base/javascripts/wayf/search/findWeight.js
  theme/base/javascripts/wayf/search/removeWeight.js
  theme/base/javascripts/wayf/search/searchAndSortIdps.js
  theme/base/javascripts/wayf/search/setWeight.js
  theme/base/javascripts/wayf/search/showOrHideNoResultsSection.js
  theme/base/javascripts/wayf/searchBehaviour.js
  theme/base/javascripts/wayf/utility/convertIdpArrayToHtml.js
  theme/base/javascripts/wayf/utility/getListSelector.js
  theme/base/javascripts/wayf/utility/reindexIdpArray.js
  theme/base/javascripts/wayf/utility/reinsertIdpList.js
  theme/base/javascripts/wayf/utility/sortAndReindex.js
  theme/base/javascripts/wayf/utility/sortIdpList.js
  theme/base/javascripts/wayf/utility/sortIdpMethods.js
  theme/base/javascripts/wayf/utility/sortIdps.js
  theme/base/javascripts/wayf/utility/sortListMethods.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/cypress/integration/skeune/consent/consent.skeune.spec.js
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/cypress/integration/skeune/wayf/unit-tests/assignWeight.spec.js
  theme/cypress/integration/skeune/wayf/unit-tests/findWeight.spec.js
  theme/openconext/javascripts/wayf.js
  theme/openconext/javascripts/wayf/IdpPicker.js
  theme/openconext/javascripts/wayf/searchBarEventListeners.js
  theme/openconext/javascripts/wayf/searchFormEventListeners.js
Labels: ui-redesign, wayf

#934 Add remember choice support
  theme/base/javascripts/utility/setCookie.js
  theme/base/javascripts/wayf/rememberChoice.js
  theme/base/javascripts/wayf/submitForm.js
  theme/base/javascripts/wayf/utility/sortAndReindex.js
  theme/base/javascripts/wayf/utility/sortListMethods.js
Labels: ui-redesign, wayf

#935 Integrate support for no-access Idps with all functionality
  theme/base/javascripts/utility/isHiddenElement.js
  theme/base/javascripts/utility/isVisibleElement.js
  theme/base/javascripts/wayf/handleClickingDisabledIdp.js
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToCancelButton.js
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToForm.js
  theme/base/javascripts/wayf/noAccess/attachClickHandlerToRequestButton.js
  theme/base/javascripts/wayf/noAccess/cloneIdp.js
  theme/base/javascripts/wayf/noAccess/hideErrorMessage.js
  theme/base/javascripts/wayf/noAccess/hideNoAccess.js
  theme/base/javascripts/wayf/noAccess/hideSuccessMessage.js
  theme/base/javascripts/wayf/noAccess/setHiddenFieldValues.js
  theme/base/javascripts/wayf/noAccess/showSuccessMessage.js
  theme/base/javascripts/wayf/noAccess/toggleErrorMessage.js
  theme/base/javascripts/wayf/noAccess/toggleFormFieldsAndButton.js
  theme/base/javascripts/wayf/submitForm.js
  theme/base/javascripts/wayf/utility/hasVisibleDeleteButtonAsTarget.js
  theme/base/javascripts/wayf/utility/hasVisibleDisabledButtonAsTarget.js
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/stylesheets/variables.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/SVG/check.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/SVG/no-talking.svg
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpDeleteDisable.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/noAccess.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/requestForm.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/successMessage.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/wayf_content.html.twig
  theme/base/templates/modules/Default/Partials/critical.html.twig
  theme/base/templates/modules/Default/Partials/success.html.twig
  theme/base/templates/modules/Default/SVG/error.svg
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign, wayf

#937 Hide disconnected idps when the flag is true
  theme/README.md
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/layouts/scripts/default.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/noAccess.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/noAccess/requestForm.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/wayf_content.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign, wayf

#939 Reinstate the back to SP link
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/backLink.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/wayf_content.html.twig
  theme/base/templates/modules/Default/Partials/buttonLink.html.twig
  theme/cypress/integration/skeune/consent/consent.skeune.spec.js
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/openconext/templates/modules/Default/View/Error/partial/legacy_footer.html.twig
  theme/openconext/templates/modules/Default/View/Error/partial/legacy_header.html.twig
  theme/skeune/templates/modules/Default/Partials/label.html.twig
Labels: ui-redesign, wayf

#938 Support cutoff point feature flag
  theme/base/javascripts/wayf/search/hideIdpsWhenCutoffNoSearch.js
  theme/base/javascripts/wayf/search/searchAndSortIdps.js
  theme/base/javascripts/wayf/search/showFoundIdpsWhenCutoff.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign, wayf

#940 Ensure previous selection is hidden after clicking on the add account button
  theme/base/javascripts/wayf/deleteDisable/handleNoneLeft.js
  theme/base/javascripts/wayf/handleDeleteDisable.js
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/handlePreviousSelectionVisible.js
  theme/base/javascripts/wayf/utility/hasSelectedIdps.js
  theme/base/javascripts/wayf/utility/showRemaining.js
  theme/base/javascripts/wayf/utility/switchIdpSection.js
  theme/base/stylesheets/pages/wayf.scss
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/openconext/javascripts/wayf.js
  theme/openconext/javascripts/wayf/focusSearchBar.js
Labels: bug, ui-redesign, wayf

#941 Add accessibility support for aria-pressed attribute on labels in the WAYF
  theme/base/javascripts/consent/addA11ySupport.js
  theme/base/javascripts/utility/handleAriaPressed.js
  theme/base/javascripts/wayf/handleDeleteDisable.js
  theme/base/javascripts/wayf/mouseBehaviour.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
Labels: ui-redesign, wayf

#943 Add the default IdP EntityID configuration parameter
  app/config/parameters.yml.dist
  docs/js_testing.md
  library/EngineBlock/Application/DiContainer.php
  library/EngineBlock/Corto/Module/Service/SingleSignOn.php
  src/OpenConext/EngineBlockBundle/Twig/Extensions/Extension/Wayf.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Controllers/WayfController.php
  src/OpenConext/EngineBlockFunctionalTestingBundle/Helper/TestEntitySeeder.php
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
Labels: ui-redesign, wayf

#944 Add support for animations
  theme/base/javascripts/consent/addA11ySupport.js
  theme/base/javascripts/consent/addInteractiveAriaHandlers.js
  theme/base/javascripts/utility/animateInteractiveSections.js
  theme/base/javascripts/wayf/utility/switchIdpSection.js
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/name.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/toggle.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/idpRow.html.twig
  theme/base/templates/modules/Default/Partials/toggleCheckbox.html.twig
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign, wayf

#942 Preselect the banner IDP when clicking the banner link
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/handleIdpBanner.js
  theme/base/javascripts/wayf/mouseBehaviour.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
Labels: ui-redesign, wayf

#946 Re/move obsolete JS
  theme/base/javascripts/index.js
  theme/base/javascripts/index/EngineBlockMainPage.js
  theme/base/javascripts/modules/AbstractIdpPicker.js
  theme/base/javascripts/modules/IdpList.js
  theme/base/javascripts/modules/IdpListElementFactory.js
  theme/base/javascripts/modules/IdpPicker.js
  theme/base/javascripts/modules/KeyboardListener.js
  theme/base/javascripts/modules/MouseListener.js
  theme/base/javascripts/modules/PreviousSelectionList.js
  theme/base/javascripts/modules/PreviousSelectionStorage.js
  theme/base/javascripts/modules/RememberChoiceStorage.js
  theme/base/javascripts/modules/RequestAccessModalHelper.js
  theme/base/javascripts/modules/UnconnectedIdpPicker.js
  theme/cypress/integration/openconext/wayf/UnconnectedIdpPicker.spec.js
  theme/openconext/javascripts/index.js
Labels: ui-redesign, wayf

#948 Ensure all cypress commands are theme agnostic
  theme/cypress/support/commands.js
Labels: ui-redesign, wayf

#950 Support minimal consent & fix a few translation bugs
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/handleIdpBanner.js
  theme/base/javascripts/wayf/idpFocus/arrowDown.js
  theme/base/javascripts/wayf/idpFocus/arrowUp.js
  theme/base/javascripts/wayf/mouseBehaviour.js
  theme/base/stylesheets/pages/wayf.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/ctas.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/consent.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/wayf.html.twig
  theme/cypress/integration/skeune/wayf/WayfGeneralBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign, wayf

#953 Ensure focus styles match the styleboard
  theme/base/stylesheets/mixins.scss
  theme/base/stylesheets/pages/consent.scss
  theme/base/stylesheets/pages/wayf.scss
  theme/base/stylesheets/shared.scss
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: ui-redesign, wayf

#957 Change text of add account button
  theme/cypress/integration/skeune/wayf/WayfKeyboardBehaviour.js
  theme/cypress/integration/skeune/wayf/WayfMouseBehaviour.js
  theme/skeune/translations/messages.en.php
  theme/skeune/translations/messages.nl.php
  theme/skeune/translations/messages.pt.php
Labels: bug, ui-redesign, wayf
