Repository OpenConext/OpenConext-engineblock, pull requests merged in 2021-02, with the labels that each got.

#1074 Ensure selected idp list works right
  theme/base/javascripts/handlers.js
  theme/base/javascripts/selectors.js
  theme/base/javascripts/wayf/deleteDisable/addSelectedIdp.js
  theme/base/javascripts/wayf/deleteDisable/attachDeleteHandlers.js
  theme/base/javascripts/wayf/deleteDisable/deleteIdp.js
  theme/base/javascripts/wayf/deleteDisable/savePreviousSelection.js
  theme/base/javascripts/wayf/handleDeleteDisable.js
  theme/base/javascripts/wayf/handleEnter.js
  theme/base/javascripts/wayf/handlePreviousSelectionVisible.js
  theme/base/javascripts/wayf/keyboardBehaviour.js
  theme/base/javascripts/wayf/matchPreviouslySelectedWithCookie.js
  theme/base/javascripts/wayf/selectFirstIdPAndSubmitForm.js
  theme/base/javascripts/wayf/submitForm.js
  theme/base/javascripts/wayf/utility/hasSelectedIdpsInList.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/preselection.html.twig
  theme/cypress/integration/skeune/wayf/wayf.keyboard.spec.js
Labels: bug, ui-redesign, wayf

#1075 Adjust styling of PEP page
  theme/README.md
  theme/base/stylesheets/pages/error-page.scss
  theme/base/templates/modules/Authentication/View/Feedback/authorization-policy-violation.html.twig
  theme/base/templates/modules/Default/View/Error/error.html.twig
Labels: bug, ui-redesign

#1076 Ensure IE11 handles overflow in disclaimers
  theme/base/stylesheets/components/disclaimer.scss
  theme/base/stylesheets/pages/consent/disclaimer.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/disclaimerList.html.twig
Labels: bug, consent, ui-redesign

#1077 Ensure IE11 search works
  theme/base/javascripts/selectors.js
  theme/base/javascripts/wayf/handleClickingDisabledIdp.js
  theme/base/javascripts/wayf/handleIdpBanner.js
  theme/base/javascripts/wayf/handlePreviousSelectionVisible.js
  theme/base/javascripts/wayf/idpFocus/arrowDown.js
  theme/base/javascripts/wayf/idpFocus/arrowUp.js
  theme/base/javascripts/wayf/matchPreviouslySelectedWithCookie.js
  theme/base/javascripts/wayf/search/assignWeight.js
  theme/base/javascripts/wayf/search/clearWeight.js
  theme/base/javascripts/wayf/searchBehaviour.js
  theme/base/javascripts/wayf/submitForm.js
  theme/base/javascripts/wayf/utility/convertIdpArrayToHtml.js
  theme/base/javascripts/wayf/utility/hasVisibleDisabledButtonAsTarget.js
  theme/base/javascripts/wayf/utility/sortArrayList.js
  theme/base/javascripts/wayf/utility/sortIdpMethods.js
  theme/base/stylesheets/pages/wayf/previousSelection.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idp.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpItem.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpList.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/remainingIdps.html.twig
  theme/cypress/integration/skeune/wayf/unit-tests/assignWeight.spec.js
  theme/cypress/integration/skeune/wayf/wayf.general.spec.js
  theme/cypress/support/commands.js
Labels: bug, ui-redesign, wayf

#1078 Fix IE11 disabled hand bug
  theme/base/javascripts/wayf/idpFocus/arrowUp.js
  theme/base/javascripts/wayf/idpFocus/checkHover.js
  theme/base/stylesheets/pages/wayf/idpList.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpItem.html.twig
Labels: bug, ui-redesign, wayf

#1081 Keep WAYF operable when syncing cookies
  theme/base/javascripts/wayf/matchPreviouslySelectedWithCookie.js
Labels: bug, ui-redesign, wayf

#1082 Correct display of tooltip for group attributes
  src/OpenConext/EngineBlockFunctionalTestingBundle/Controllers/ConsentController.php
  theme/base/stylesheets/pages/consent/attribute.scss
  theme/base/stylesheets/pages/consent/attributeValue.scss
  theme/base/stylesheets/shared.scss
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/defaultAttribute.html.twig
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/tooltip.html.twig
  theme/cypress/integration/skeune/consent/consent.general.spec.js
Labels: bug, consent, ui-redesign

#1084 Avoid double encoding logo url for attribute source.
  theme/base/templates/modules/Authentication/View/Proxy/Partials/Consent/Attributes/source.html.twig
Labels: bug, consent, ui-redesign

#1085 Ensure images after search are ok in IE11
  theme/base/javascripts/wayf/utility/convertIdpArrayToHtml.js
  theme/base/templates/modules/Authentication/View/Proxy/Partials/WAYF/idp/idpItem.html.twig
Labels: bug, ui-redesign, wayf

#1086 Prevent logo flicker in FF when possible
  theme/base/javascripts/wayf/searchBehaviour.js
Labels: bug, ui-redesign, wayf

#1083 Ensure IdPs are deletable after sync
  theme/base/javascripts/wayf/matchPreviouslySelectedWithCookie.js
Labels: bug, ui-redesign, wayf

#1087 Prevent idprow-logo from overlapping with text
  theme/base/stylesheets/pages/consent/idpRow.scss
Labels: bug, consent, ui-redesign
